/* Add global styles if needed */
.profile-wrapper{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    background-color: #f4f4f4;
}

.profile-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* White background */
    text-align: left;
    display: grid;
}

.profile-container h2 {
    color: rgb(21, 21, 21);
    background-color: rgb(255, 183, 0);
    padding: 15px;
    text-align: center;
}

.profile-container p {
    margin: 5px 0;
}

.profile-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(0, 61, 121);
    color: white;
}

.profile-container button:hover {
    background-color: rgb(0, 61, 121);/* Brighter shade of blue on hover */
}
